.active {
  color: var(--primaryColor) !important;
}

.link {
  transition: all ease-in-out 0.2s;
}

.link:hover {
  color: var(--primaryColor) !important;
}

.registerBtn {
  background-color: var(--secondaryColor);
  transition: all ease-in-out 0.2s;
  border: none;
}

.registerBtn:hover {
  background-color: var(--secondaryVariant);
}

.loginBtn {
  background-color: var(--primaryColor);
  transition: all ease-in-out 0.2s;
  border: none;
}

.loginBtn:hover {
  background-color: var(--primaryVariant);
}

.HeroSection {
  width: 100%;
  padding-top: 80px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(45deg, var(--secondaryColor), white);
  z-index: 1;
}

.HeroText {
  display: flex;
  flex-direction: column;
}

.HeroText h1 {
  text-shadow: 0px 0px 2px black;
  z-index: -1;
}

.HeroText h2 {
  color: white;
  font-weight: 700;
  text-shadow: 5px 5px 15px black;
  z-index: 1;
}

.HeroText a {
  margin-top: 25px;
  background-color: var(--primaryColor);
  border: none;
  transition: all ease-in-out 0.2s;
  box-shadow: 0px 0px 15px var(--primaryColor);
  z-index: 5;
}

.HeroText a:hover {
  background-color: var(--primaryVariant);
}

.HeroImg {
  height: 100%;
  max-height: 700px;
  min-height: 550px;
  width: 70%;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .HeroSection {
    min-height: 700px;
  }

  .HeroText {
    padding: 50px 0;
    justify-content: center;
    align-items: center;
  }

  .HeroText h2,
  .HeroText h1 {
    text-align: center;
  }

  .HeroImg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: auto;
    padding-top: 100px;
  }
}
