.mainNavbar {
  background-color: var(--mainColor);
  z-index: 100;
}

.navbarLogo {
  color: var(--primaryColor);
  font-size: 32px;
}

.active {
  color: var(--primaryColor) !important;
}

.link {
  transition: all ease-in-out 0.2s;
}

.link:hover {
  color: var(--primaryColor) !important;
}

.registerBtn {
  background-color: var(--secondaryColor);
  transition: all ease-in-out 0.2s;
  border: none;
}

.registerBtn:hover {
  background-color: var(--secondaryVariant);
}

.loginBtn {
  background-color: var(--primaryColor);
  transition: all ease-in-out 0.2s;
  border: none;
}

.loginBtn:hover {
  background-color: var(--primaryVariant);
}
